/* ace.min.css全局样式自定义 */

body {
	font-size: 12px;
}

#page-content {
	padding: 8px 20px;
}

.btn {
	font-family: microsoft yahei, "Open Sans";
	display: inline-block;
	color: #FFF !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	background-image: none !important;
	border: 0px solid;
	border-radius: 0;
	box-shadow: none !important;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
	position: relative;
	/*padding: 0 12px 1px;
	line-height: 28px;*/
	font-size: 12px;
}

.btn-small {
	font-size: 12px;
}

.table-header {
	font-size: 12px;
	line-height: 32px;
	margin-top: 1px;
}

.dataTables_info {
	font-size: 12px;
}

.dataTables_wrapper label {
	font-size: 12px;
}

.dataTables_wrapper .row-fluid:first-child {
	padding: 4px 0 0;
}

.dataTables_wrapper .row-fluid:last-child {
	padding: 0px;
}

/* bootstrap.min.css全局样式自定义 */
[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 0px;
}

form {
	margin: 0 0 5px;
}

label,input,button,select,textarea {
	font-size: 12px;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
	height: 26px;
	font-size: 12px;
	line-height: 16px;
}

.form-actions {
	padding: 5px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
	*zoom: 1;
}

.control-group {
	margin-bottom: 2px;
}

.form-horizontal .control-group {
	*zoom: 1;
	margin-bottom: 0px;
}

.form-horizontal .control-label {
	width: 90px;
}

.form-horizontal .controls {
	margin-left: 90px;
	min-height: 24px;
}

.table th,.table td {
	padding: 0 8px;
	line-height: 30px;
}

.row-fluid [class*="span"] {
	margin-left: 2px;
	min-height: 20px;
}

.input-append .add-on, .input-prepend .add-on {
	height: 16px;
	min-width: 16px;
	line-height: 16px;
}

/* bootstrap-responsive.min.css全局样式自定义 */
@media ( min-width :1200px) {
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 0px;
	}
	
	.row-fluid [class*="span"] {
		margin-left: 2px;
	}
}

@media ( min-width :768px) and (max-width:979px) {
	.row-fluid [class*="span"] {
		margin-left: 2px;
	}
}

/* Modal弹出层样式自定义 */
.modal-header {
	padding: 0 15px;
}

.modal-header .close {
	font-size: 24px;
}

.modal-header h3 {
	line-height: 24px;
}

.modal-body {
	padding: 0 15px;
}

#commonModal p{
	margin:0;
}

/* DataTable设置列显示隐藏样式自定义 */
#TableColVisCollection input[type="checkbox"], input[type="radio"] {
	opacity: 1;
    position: relative;
}

/* 自定义日期控件显示层顺序 */
.bootstrap-datetimepicker-widget {
	z-index: 999999;
}